@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 1em 0;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.3em;
  color: rgb(119, 136, 153);
}

.status-btns {
  display: flex;
  margin-bottom: 1em;
}

.complete {
  opacity: 0.6;
  text-decoration: line-through;
}

.item-flex {
  display: flex;
  justify-content: space-between;
}

.complete-btn {
  border: 1px solid rgb(119, 136, 153);
  background: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.complete-btn--checked {
  background: rgb(119, 136, 153);
}

.material-icons-outlined--light{
  color: white;
}

.btn__trash {
  border: none;
  background: none;
}

footer {
  position: relative;
  left: 0;
  bottom: 0; 
  height: 40px;
  width: 100%;
  text-align: center;
}